.post-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .post-item {
        width: 1.8rem;
        min-width: 250px;
        margin-bottom: 15px;
    }

}